color-text = #000000;
color-blue = #3C74FF;
color-blue-light = #6490fc;
color-white = #ffffff;
color-gray = #F2F2F2;
color-disable = #E6E6E6;
color-play = rgba(0, 0, 0, 0.5)

font-family = Arial, sans-serif;
font-size-button = 0.875rem;

main-size = 16px;
size = 0.5rem; // 8px
size-2x = 1rem; // 16px
size-3x = 1.5rem; // 24px
size-3_5x = 1.75rem; // 28px
size-4x = 2rem; // 32px
size-5x = 2.5rem; // 40px
size-6x = 3rem; // 48px
size-7x = 3.5rem; // 56px
size-8x = 4rem; // 64px